.container {
  width: 50ch;
}

.rowWrap {
  display: flex;
  flex-direction: row;
  width: 50ch;
  align-items: baseline;
  cursor: pointer;
}

.date {
  width: 21ch;
  /* overflow: hidden; */
}

.method {
  width: 8ch;
  color: blue;
}

.path {
  color: grey;
  overflow: hidden;
  white-space: nowrap;
}


